
	h1 {
		margin-bottom: 20px;
	}
	
	div#container {
		width: 1300px;
	}
	
	div#search-container {
		padding: 0px 0px 10px 300px;
	}
	
	#search-container a {
		cursor: pointer;
	}
	
	#searchfor {
		color: #C24F4A;
		font-size: 14px;
		text-align: left;
	}
	
	div#data {
		float: left;
		width: 300px;
	}
	div#map-canvas {
		height: 620px;
		width: 900px;
	}
	
	.googft-info-window {
		border: 3px solid #009FDA;
	}
	
	.gm-style {
		border: 1px solid #009FDA;
		border-radius: 5px !important;
	}
	
	.gm-style div, .gm-style span, .gm-style label, .gm-style a {
		color: #009FDA;
		font: 14px Anonymous Pro;
	}
	
	.gm-style h2 {
		width: 800px;
		border: 1px solid red;
		color: red !important;
	}
	
	input[type=text] {
		font-size: 10px;
		text-align: center;
		width: 250px;
	}
